setuptools~=68.0.0
wheel==0.41.1

# DATABASE
psycopg2-binary~=2.9.7

# HTTP(S) REQUESTS & ANALYSIS
requests~=2.31.0
pytz~=2023.3
python-dateutil~=2.8.2
urllib3~=2.0.4
tldextract~=3.4.4
beautifulsoup4~=4.12.2
html5lib~=1.1

# PLOTTING
pandas~=2.0.3
matplotlib~=3.7.2
seaborn~=0.12.2

# UTILITY
tqdm==4.66.1